<div class="bg-gradient-green overflow-hidden">
    <div class="container">
        <!-- Start of head -->
        <div class="text-center py-4 py-sm-6">
            <h5 class="text-white text-uppercase font-weight-bold font-size-5">
                {{ 'Become a partner'|t }}
            </h5>
            <p class="text-white font-size-3 mb-0">
                {{ 'Fund the GIRCHI, get the relevant GeDs and hit the leaderboard'|t }}
            </p>
        </div>
        <div class="card mb-4 mb-sm-8" >
            <div class="spinner-wrapper">
            </div>
            <div class="card-body donation-card">
                <div id="message-container"></div>
                <div class="row">
                    <div class="col-md-12 col-lg-6">
                        <div
                            class="px-md-8  px-lg-4 px-xl-8 py-3  py-2 py-md-3  py-xl-4"
                        >
                            <ul
                                class="nav nav-tabs nav-justified"
                                id="myTab"
                                role="tablist"
                            >
                                <li class="nav-item">
                                    <a
                                        class="nav-link active text-uppercase py-3"
                                        id="single-donation-tab"
                                        data-toggle="tab"
                                        href="#single-donation"
                                        role="tab"
                                        aria-controls="single-donation"
                                        aria-selected="true"
                                    >
                                        {{ 'Disposable'|t }}
                                    </a
                                    >
                                    {% if logged_in %}
                                </li>
                                <li class="nav-item">
                                    <a
                                        class="nav-link text-uppercase py-3"
                                        id="multiple-donation-tab"
                                        data-toggle="tab"
                                        href="#multiple-donation"
                                        role="tab"
                                        aria-controls="multiple-donation"
                                        aria-selected="false"
                                    >
                                        {{ 'Multiple'|t }}
                                    </a
                                    >
                                </li>
                                {% endif %}
                            </ul>
                            <div class="tab-content" id="myTabContent">
                                <div
                                    class="tab-pane fade show active"
                                    id="single-donation"
                                    role="tabpanel"
                                    aria-labelledby="single-donation-tab"
                                >
                                    <ul
                                        class="nav nav-tabs nav-justified mx-4"
                                        id="sourceTab"
                                        role="tablist"
                                    >
                                        <li class="nav-item">
                                            <a
                                                class="nav-link active nav-inner text-uppercase pt-3 pb-2"
                                                id="tbc-tab"
                                                data-toggle="tab"
                                                href="#tbc-donation"
                                                role="tab"
                                                aria-controls="tbc-donation"
                                                aria-selected="true"
                                            >
                                                <p
                                                    class="d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-center"
                                                >
                                                    <img
                                                        src="/themes/custom/girchi/dist/css/images/visa.png"
                                                        alt=""
                                                        class="mt-2 mt-sm-0 mr-5 mr-sm-3"
                                                        height="12"
                                                    />
                                                    <img
                                                        src="/themes/custom/girchi/dist/css/images/mc.svg"
                                                        alt=""
                                                        class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                        height="12"
                                                    />
                                                </p></a
                                            >
                                        </li>
                                        <li class="nav-item">
                                            <a
                                                class="nav-link text-uppercase nav-inner pt-3 pb-2"
                                                id="paypal-tab"
                                                data-toggle="tab"
                                                href="#paypal-donation"
                                                role="tab"
                                                aria-controls="paypal-donation"
                                                aria-selected="false"
                                            ><p
                                                    class="d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-center"
                                                >
                                                    <img
                                                        src="/themes/custom/girchi/images/paypal-logo.png"
                                                        alt=""
                                                        class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                        height="12"
                                                    />

                                                </p></a
                                            >
                                        </li>
                                    </ul>
                                    <div class="tab-content" id="sourceTabContent">
                                        <div
                                            class="tab-pane fade show active"
                                            id="tbc-donation"
                                            role="tabpanel"
                                            aria-labelledby="tbc-donation"
                                            aria-selected="true"
                                        >
                                            <form method="POST">
                                                {{ form_single.form_build_id }}
                                                {{ form_single.form_token }}
                                                {{ form_single.form_id }}
                                                <hr class="border-dashed border-secondary"/>
                                                <div class="d-flex flex-wrap flex-sm-nowrap">
                                                    <div class="form-group w-100 w-md-50 pr-sm-2">
                                                        <label class="form-label" for="amount">{{ 'Amount'|t }}</label>
                                                        {{ form_single.amount }}
                                                    </div>
                                                    <div class="form-group w-100 w-md-50">
                                                        <label class="form-label">
                                                            {{ 'GeD' }}
                                                        </label>
                                                        <div
                                                            class="text-success font-size-5 d-flex pl-3 pt-2"
                                                        >
                                                            <i class="icon-ged"></i>
                                                            <span class="ml-1" id="ged-place1">0</span>
                                                        </div>
                                                    </div>
                                                </div>


                                                <div class="form-group width-control">
                                                    <label class="form-label" for="description">
                                                        {{ 'Aim or politician'|t }}
                                                    </label>
                                                    <select
                                                        id="selected-option-tbc-single"
                                                        source-type="tbc-single"
                                                        class="select w-100"
                                                        data-live-search="true"
                                                        data-style="btn-white border btn-lg bg-hover-white rounded-oval"
                                                        title="რას აფინანსებ"
                                                        data-none-results-text="არაფერი მოიძებნა"
                                                    >
                                                        {% for aim_or_politician in aim_or_politicians %}
                                                        <option
                                                            value="{{ aim_or_politician.data_type }}:{{ aim_or_politician.id }}"
                                                            data-content='
                                                                <div class="d-flex align-items-center p-1 ">
                                                                  <span
                                                                    class="rounded-circle overflow-hidden d-inline-block"
                                                                  >
                                                                    <img
                                                                      {% if aim_or_politician.data_type == 1 %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/girchiLogo34x34.png" }}"
                                                                      {% else %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/avatar34x34.png" }}"
                                                                      {% endif %}
                                                                      width="35"
                                                                      class="rounded pl-politician-avatar"
                                                                      alt="..."
                                                                    />

                                                                  </span>
                                                                  <h6
                                                                    class="text-uppercase line-height-1-2 font-size-3 font-size-xl-3 mb-0 mx-2"
                                                                  >
                                                                    {% if aim_or_politician.data_type == '2' %}
                                                                    <span class="text-decoration-none d-inline-block text-success">
                                                                          <span class="pl-politician-first-name">{{aim_or_politician.first_name}}</span>
                                                                          <span class="font-weight-bold pl-politician-last-name">{{aim_or_politician.last_name}}</span>
                                                                          <span class="font-weight-bold d-none">{{ aim_or_politician.first_name }} {{ aim_or_politician.last_name }}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                      {{ 'Politician' |t}}
                                                                    </span>
                                                                    {% else  %}
                                                                    <span class="text-decoration-none d-inline-block text-warning  text-hover-success">
                                                                          <span class="pl-politician-first-name">{{ 'გირჩი ზოგადად' |t}}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                        {{aim_or_politician.aim}}
                                                                    </span>
                                                                    {% endif %}
                                                                  </h6>
                                                                </div>
                                                                '
                                                        ></option>

                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                {{ form_single.politicians }}
                                                {{ form_single.donation_aim }}
                                                {{ form_single.currency }}
                                                {{ form_single.submit }}
                                            </form>
                                        </div>
                                        <div
                                            class="tab-pane fade"
                                            id="paypal-donation"
                                            role="tabpanel"
                                            aria-labelledby="paypal-donation"
                                        >
                                            <form method="POST">
                                                {{ paypal_form.form_build_id }}
                                                {{ paypal_form.form_token }}
                                                {{ paypal_form.form_id }}
                                                <hr class="border-dashed border-secondary"/>
                                                <div class="d-flex flex-wrap flex-sm-nowrap">
                                                    <div class="form-group w-50 w-md-50 pr-sm-2">
                                                        <label class="form-label" for="amount">{{ 'Amount'|t }}</label>
                                                        {{ paypal_form.amount }}
                                                    </div>
                                                    <div class="form-group w-50 w-md-30 px-sm-1 ">
                                                        <label class="form-label" for="amount">{{'Currency' | t}}</label>
                                                        <div
                                                            class="form-control form-control-lg border-0 font-weight-bold">
                                                            {{ paypal_form.currencies }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group w-100 w-md-50">
                                                        <label class="form-label">
                                                            {{ 'GeD' }}
                                                        </label>
                                                        <div
                                                            class="text-success font-size-5 d-flex pl-3 pt-2"
                                                        >
                                                            <i class="icon-ged"></i>
                                                            <span class="ml-1" id="ged-place-3">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-group width-control" >
                                                    <label class="form-label" for="description">
                                                        {{ 'Aim or politician'|t }}
                                                    </label>
                                                    <select
                                                        id="selected-option-paypal"
                                                        source-type="paypal"
                                                        class="select w-100"
                                                        data-live-search="true"
                                                        data-style="btn-white border btn-lg bg-hover-white rounded-oval"
                                                        title="რას აფინანსებ"
                                                        data-none-results-text="არაფერი მოიძებნა"
                                                    >
                                                        {% for aim_or_politician in aim_or_politicians %}
                                                            <option
                                                                value="{{ aim_or_politician.data_type }}:{{ aim_or_politician.id }}"
                                                                data-content='
                                                                <div class="d-flex align-items-center p-1 ">
                                                                  <span
                                                                    class="rounded-circle overflow-hidden d-inline-block"
                                                                  >
                                                                    <img
                                                                      {% if aim_or_politician.data_type == 1 %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/girchiLogo34x34.png" }}"
                                                                      {% else %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/avatar34x34.png" }}"
                                                                      {% endif %}
                                                                      width="35"
                                                                      class="rounded pl-politician-avatar"
                                                                      alt="..."
                                                                    />

                                                                  </span>
                                                                  <h6
                                                                    class="text-uppercase line-height-1-2 font-size-3 font-size-xl-3 mb-0 mx-2"
                                                                  >
                                                                    {% if aim_or_politician.data_type == '2' %}
                                                                    <span class="text-decoration-none d-inline-block text-success">
                                                                          <span class="pl-politician-first-name">{{aim_or_politician.first_name}}</span>
                                                                          <span class="font-weight-bold pl-politician-last-name">{{aim_or_politician.last_name}}</span>
                                                                          <span class="font-weight-bold d-none">{{ aim_or_politician.first_name }} {{ aim_or_politician.last_name }}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                      {{ 'Politician' |t}}
                                                                    </span>
                                                                    {% else  %}
                                                                    <span class="text-decoration-none d-inline-block text-warning  text-hover-success">
                                                                          <span class="pl-politician-first-name">{{ 'გირჩი ზოგადად' |t}}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                        {{aim_or_politician.aim}}
                                                                    </span>
                                                                    {% endif %}
                                                                  </h6>
                                                                </div>
                                                                '
                                                            ></option>
                                                        {% endfor %}
                                                    </select>
                                                </div>

                                                {{ paypal_form.donation_aim }}
                                                {{ paypal_form.politicians }}

                                                {{ paypal_form.currency_eur }}
                                                {{ paypal_form.currency_usd }}
                                                {{ paypal_form.donation_id }}
                                                {{ paypal_form.submit }}
                                                <div id="paypal-button-container"></div>
                                            </form>

                                        </div>
                                    </div>

                                </div>
                                {% if logged_in %}
                                    <div
                                        class="tab-pane fade"
                                        id="multiple-donation"
                                        role="tabpanel"
                                        aria-labelledby="multiple-donation-tab"
                                    >
                                        {% if has_active_card %}
                                            <form method="POST">
                                                {{ form_multiple.form_build_id }}
                                                {{ form_multiple.form_token }}
                                                {{ form_multiple.form_id }}
                                                {{ form_multiple.card_id }}

                                                <p class="d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-center justify-content-md-between my-2 my-sm-4">
                                                    <img src="/{{ directory }}/dist/css/images/tbc-logo-ka-ge.svg"
                                                         alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0" height="17">
                                                    <img src="/{{ directory }}/dist/css/images/bog-geo-horizontal.png"
                                                         alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0" height="17">
                                                    <img src="/{{ directory }}/dist/css/images/liberty-geo.svg" alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                         height="12">
                                                    <img src="/{{ directory }}/dist/css/images/visa.png" alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                         height="12">
                                                    <img src="/{{ directory }}/dist/css/images/mc.svg" alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                         height="17">
                                                </p>
                                                <hr class="border-dashed border-secondary"/>
                                                <div class="d-flex flex-wrap flex-sm-nowrap">
                                                    <div
                                                        class="form-group form-group w-100 w-md-50 pr-sm-2"
                                                    >
                                                        <label class="form-label" for="amount">{{ 'Amount'|t }}</label>
                                                        {{ form_multiple.amount }}
                                                    </div>
                                                    <div class="form-group w-100 w-md-50">
                                                        <label class="form-label">{{ 'You will get'|t }}</label>
                                                        <div
                                                            class="text-success font-size-5 d-flex pl-3 pt-2"
                                                        >
                                                            <i class="icon-ged"></i>
                                                            <span class="ml-1" id="ged-place-2">0</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="d-flex flex-wrap flex-sm-nowrap">
                                                    <div class="form-group w-100 w-md-50 pr-sm-2">
                                                        <label class="form-label" for="period"
                                                        >{{ 'Periodicity'|t }}</label
                                                        >
                                                        <div class="form-control form-control-lg">
                                                            {{ form_multiple.frequency }}
                                                        </div>
                                                    </div>
                                                    <div class="form-group w-100 w-md-50  pl-sm-2">
                                                        <label class="form-label" id="date"
                                                        >{{ 'Donation date'|t }}</label
                                                        >
                                                        <div class="form-control form-control-lg">
                                                            {{ form_multiple.date }}
                                                        </div>
                                                    </div>
                                                </div>

                                                <div class="form-group width-control">
                                                    <label class="form-label" for="description">
                                                        {{ 'Aim or politician'|t }}
                                                    </label>
                                                    <select
                                                        id="selected-option-tbc-multiple"
                                                        source-type="tbc-multiple"
                                                        class="select w-100"
                                                        data-live-search="true"
                                                        data-style="btn-white border btn-lg bg-hover-white rounded-oval"
                                                        title="რას აფინანსებ"
                                                        data-none-results-text="არაფერი მოიძებნა"
                                                    >
                                                        {% for aim_or_politician in aim_or_politicians %}
                                                            <option
                                                                value="{{ aim_or_politician.data_type }}:{{ aim_or_politician.id }}"
                                                                data-content='
                                                                <div class="d-flex align-items-center p-1 ">
                                                                  <span
                                                                    class="rounded-circle overflow-hidden d-inline-block"
                                                                  >
                                                                    <img
                                                                      {% if aim_or_politician.data_type == 1 %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/girchiLogo34x34.png" }}"
                                                                      {% else %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/avatar34x34.png" }}"
                                                                      {% endif %}
                                                                      width="35"
                                                                      class="rounded pl-politician-avatar"
                                                                      alt="..."
                                                                    />

                                                                  </span>
                                                                  <h6
                                                                    class="text-uppercase line-height-1-2 font-size-3 font-size-xl-3 mb-0 mx-2"
                                                                  >
                                                                    {% if aim_or_politician.data_type == '2' %}
                                                                    <span class="text-decoration-none d-inline-block text-success">
                                                                          <span class="pl-politician-first-name">{{aim_or_politician.first_name}}</span>
                                                                          <span class="font-weight-bold pl-politician-last-name">{{aim_or_politician.last_name}}</span>
                                                                          <span class="font-weight-bold d-none">{{ aim_or_politician.first_name }} {{ aim_or_politician.last_name }}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                      {{ 'Politician' |t}}
                                                                    </span>
                                                                    {% else  %}
                                                                    <span class="text-decoration-none d-inline-block text-warning  text-hover-success">
                                                                          <span class="pl-politician-first-name">{{ 'გირჩი ზოგადად' |t}}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                        {{aim_or_politician.aim}}
                                                                    </span>
                                                                    {% endif %}
                                                                  </h6>
                                                                </div>
                                                                '
                                                            ></option>
                                                        {% endfor %}
                                                    </select>
                                                </div>
                                                {{ form_multiple.donation_aim }}
                                                {{ form_multiple.politicians }}

                                                {# Start of modal#}
                                                <div
                                                    class="modal fade"
                                                    id="chooseCard"
                                                    tabindex="-1"
                                                    role="dialog"
                                                    aria-labelledby="chooseCardTitle"
                                                    aria-hidden="true"
                                                >
                                                    <div
                                                        class="modal-dialog modal-dialog-centered"
                                                        role="document"
                                                    >
                                                        <div class="modal-content overflow-hidden">
                                                            <div
                                                                class="modal-header align-items-center px-3 px-md-4"
                                                            >
                                                                <h5
                                                                    class="modal-title font-size-3 text-uppercase font-weight-bold"
                                                                    id="addPaymentTitle"
                                                                >
                                                                    {{'Regular Donation'|t}}
                                                                </h5>
                                                                <button
                                                                    type="button"
                                                                    class="close ml-2"
                                                                    data-dismiss="modal"
                                                                    aria-label="Close"
                                                                >
                                                                    <i
                                                                        aria-hidden="true"
                                                                        class="icon-close font-size-3 text-dark-silver"
                                                                    ></i>
                                                                </button>
                                                            </div>
                                                            <div
                                                                class="modal-body pt-0  pl-3 pr-3 pb-3 pl-md-5 pr-md-5 pb-md-5"
                                                            >
                                                                <form action="">
                                                                    <div class="container py-2">
                                                                        <h6
                                                                            class="text-uppercase m-0"
                                                                        >
                                                                            {{ 'Aim/Politician'|t }}: <b
                                                                                class="text-success"
                                                                                id="main-holder"></b>

                                                                        </h6>
                                                                        <h6
                                                                            class="text-uppercase m-0"
                                                                        >
                                                                            {{ 'Amount'|t }}: <b class="text-success"
                                                                                                 id="amount-holder"></b>

                                                                        </h6>
                                                                        <h6
                                                                            class="text-uppercase m-0"
                                                                        >
                                                                            {{ 'You will get'|t }}: <b
                                                                                class="text-success" id="ged-holder"><i
                                                                                    class="icon-ged line-height-1-1"></i></b>

                                                                        </h6>
                                                                        <h6
                                                                            class="text-uppercase m-0"
                                                                        >
                                                                            {{ 'Periodicity'|t }}: <b
                                                                                class="text-success"
                                                                                id="date-holder"></b>

                                                                        </h6>
                                                                    </div>
                                                                    <hr class="border-dashed border-secondary"/>
                                                                    <h6 class="text-uppercase pt-2 text-warning font-weight-bold my-3 text-center">{{ 'Select card for regular payment'|t }}</h6>
                                                                    <div class="cc-selector row">
                                                                        <div
                                                                            class="align-self-center margin-control"
                                                                        >

                                                                            {% for card in cards %}
                                                                                {% if card.Type() == 'VISA' %}
                                                                                    <input
                                                                                        id="{{ card.id() }}"
                                                                                        type="radio"
                                                                                        name="credit-card"
                                                                                        value="{{ card.id() }}"
                                                                                    />
                                                                                    <label
                                                                                        class="drinkcard-cc"
                                                                                        for="{{ card.id() }}"
                                                                                    >
                                                                                        <div
                                                                                            class="cc-dark-mobile col-md-3 m-2"
                                                                                        >
                                                                                            <span
                                                                                                class="chip-mobile"></span>
                                                                                            <img
                                                                                                src="/{{ directory }}/images/visa2.svg"
                                                                                                class="logo-visa-mobile"
                                                                                                height="35px"
                                                                                                width="35px"
                                                                                                alt=""
                                                                                            />
                                                                                            <span
                                                                                                class="cc-number-mobile"
                                                                                            >**** **** **** {{ card.Digits() }}</span
                                                                                            >
                                                                                            <span class="cc-name-mobile"
                                                                                            >{{ card.Expiry(TRUE) }}</span
                                                                                            >
                                                                                        </div>
                                                                                    </label>
                                                                                {% elseif card.Type() == 'MC' %}
                                                                                    <input
                                                                                        id="{{ card.id() }}"
                                                                                        type="radio"
                                                                                        name="credit-card"
                                                                                        value="{{ card.id() }}"
                                                                                    />
                                                                                    <label class="drinkcard-cc"
                                                                                           for="{{ card.id() }}">
                                                                                        <div
                                                                                            class="cc-green-mobile col-md-3 m-2"
                                                                                        >
                                                                                            <span
                                                                                                class="chip-mobile"></span>
                                                                                            <img
                                                                                                src="/{{ directory }}/images/mc_symbol.svg"
                                                                                                height="35px"
                                                                                                width="35px"
                                                                                                class="logo-mastercard-mobile"
                                                                                                alt=""
                                                                                            />
                                                                                            <span
                                                                                                class="cc-number-mobile"
                                                                                            >**** **** **** {{ card.Digits() }}</span
                                                                                            >
                                                                                            <span class="cc-name-mobile"
                                                                                            >{{ card.Expiry(TRUE) }}</span
                                                                                            >
                                                                                        </div>
                                                                                    </label>
                                                                                {% endif %}
                                                                            {% endfor %}
                                                                        </div>
                                                                    </div>
                                                                    {{ form_multiple.submit }}
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                {# End of modal#}
                                                <button
                                                    id="cardSelector"
                                                    data-toggle="modal"
                                                    data-target="#chooseCard"
                                                    class="btn btn-lg btn-block btn-warning text-uppercase mt-4"
                                                >
                                                    {{ 'Donate'|t }}
                                                </button>

                                            </form>
                                        {% else %}
                                            <form method="POST">
                                                {{ card_save_form.form_build_id }}
                                                {{ card_save_form.form_token }}
                                                {{ card_save_form.form_id }}
                                                <p class="d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-center justify-content-md-between my-2 my-sm-4">
                                                    <img src="/{{ directory }}/dist/css/images/tbc-logo-ka-ge.svg"
                                                         alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0" height="17">
                                                    <img src="/{{ directory }}/dist/css/images/bog-geo-horizontal.png"
                                                         alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0" height="17">
                                                    <img src="/{{ directory }}/dist/css/images/liberty-geo.svg" alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                         height="12">
                                                    <img src="/{{ directory }}/dist/css/images/visa.png" alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                         height="12">
                                                    <img src="/{{ directory }}/dist/css/images/mc.svg" alt=""
                                                         class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                                                         height="17">
                                                </p>
                                                <hr class="border-dashed border-secondary"/>
                                                <div class="row">
                                                    <div class="col-12 col-md-8">
                                                        <p class="text-primary font-size-3">
                                                            თქვენ გადამისამართდებით TBC ბანკის გადახდის გვერდზე
                                                            სადაც მითითებული იქნება თანხა: <span
                                                                class="font-weight-bold font-size-4"
                                                                style="color: #0DAEEE">0.00</span>, <br>
                                                            რაც მიანიშნებს იმას, რომ მოცემული ტრანზაქციისას თქვენი<br>
                                                            ბარათიდან არ ხდება თანხის ჩამოჭრა.
                                                        </p>
                                                    </div>
                                                    <div class="col-md-4 col-12 align-items-center">
                                                        <img
                                                            src="/{{ directory }}/images/tbc-e1531314087528-300x266.png"
                                                            height="120px"
                                                            width="120px" alt="tbc">
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <p class="text-primary font-size-3 font-weight-bold mt-2">
                                                            ბარათის მონაცემებს შეიყვანთ მოცემულ გვერდზე,
                                                            წარმატების შემთხვევაში თქვენი ბარათი <br> დამახსოვრებული
                                                            იქნება სისტემაში.
                                                        </p>
                                                    </div>
                                                </div>
                                                {{ card_save_form.submit }}
                                            </form>
                                        {% endif %}
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 col-lg-6">
                        <div class="px-md-8 px-lg-3 px-xl-5 py-2 py-md-3  py-xl-4">
                            {{ right_block | raw | t }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{{ attach_library('girchi/donation') }}
{{ attach_library('girchi_banking/girchi_banking') }}
