{{ print_block('politicianblock') }}
<div class="card mt-0 mt-md-3 mt-lg-0 mb-2 mb-lg-3 overflow-hidden">
    <div
        class="d-flex border-bottom flex-column flex-md-row px-3 px-md-4 py-3 align-items-md-center"
    >
        <h6 class="text-uppercase font-weight-bold m-0">
            {{ 'Regular donation settings' |t }}
        </h6>
        <div class="ml-auto my-n1 d-none d-sm-block">
            {% if cards|length > 0 %}
            <button
                data-toggle="modal"
                data-target="#addPayment"
                class="btn btn-success text-uppercase"
            >
                {{ 'Add new payment' |t }}
            </button>
            {% endif %}
        </div>
    </div>
    <div class="card-body p-3 p-sm-4">
        {% if cards|length > 0 %}
        <button
            data-toggle="modal"
            data-target="#addPayment"
            class="btn btn-block d-sm-none mb-3 btn-success text-uppercase"
        >
            {{ 'Add new payment' |t }}
        </button>
        {% endif %}
        <hr class="my-3 d-sm-none"/>
        <!-- Start payments list -->
        <div>
            {% for regular_donation in regular_donations %}
                <!-- Start card -->
                <div class="card border overflow-hidden mb-3 mb-sm-4">
                    <div class="card-body p-0">
                        <div class="row">
                            <div class="col-12 col-sm-4 col-lg-3">
                                <div data-wrapper-id="{{ regular_donation.id.value }}"
                                     class="position-relative h-100
                                    {{ regular_donation.status.value == 'ACTIVE' ? 'bg-gradient-green' : 'bg-gradient-warning' }}
                                    text-center pt-3 pt-sm-0 pt-lg-3 d-flex flex-column justify-content-center"
                                >
                            <span
                                class="mt-2 min-w-120 font-size-4 rounded-oval text-white font-weight-bold bg-black-0-2 py-3 px-4 mx-auto d-inline-block"
                            >{{ regular_donation.amount.value }} ₾</span
                            >
                                    <span
                                        class="text-white font-size-3 my-2 d-inline-block {{ "donation-status-" ~ regular_donation.id.value }}"
                                    >{% if language == 'ka' %}
                                            {{ regular_donation.status.value == "PAUSED" ? "შეჩერებული" : "აქტიური" }}
                                        {% else %}
                                            {{ regular_donation.status.value }}
                                        {% endif %}
                                    </span
                                    >
                                </div>
                            </div>
                            <div class="col-12 col-sm-8 col-lg-9">
                                <div
                                    class="d-flex flex-column flex-lg-row py-3 pl-3 pl-sm-0 position-relative h-100 align-items-lg-center mr-1"
                                >
                                    <!-- Start left side -->
                                    <div>
                                        {% if regular_donation.politician_id.target_id == null %}
                                            <span
                                                class="d-block text-grey font-size-2 font-weight-bold"
                                            >{{ 'Donation aim'|t }}</span
                                            >
                                            <span
                                                class="d-block text-success text-uppercase font-weight-bold"
                                            >{{ drupal_field('name', 'taxonomy_term', regular_donation.aim_id.target_id) }}</span
                                            >
                                        {% else %}
                                            <span
                                                class="d-block text-grey font-size-2 font-weight-bold"
                                            >{{ 'Politician' | t }}</span
                                            >
                                            <span
                                                class="d-block text-success text-uppercase font-weight-bold"
                                            >{{ get_full_name(regular_donation.politician_id.target_id) }}</span
                                            >
                                        {% endif %}
                                        <hr class="my-2"/>
                                        <div
                                            class="d-flex font-size-2 font-weight-bold flex-wrap"
                                        >
                                <span class="mr-3">
                                  <span
                                      class="text-grey">{{ 'Periodicity' | t }}: </span>{{ regular_donation.frequency.value }} {{ 'Month' | t }}
                                </span>
                                            <span class="mr-3">
                                  <span class="text-grey"
                                  >{{ 'Paying date:' | t }} </span
                                  >{{ regular_donation.payment_day.value }}
                                            </span>

                                        </div>
                                        <div
                                            class="d-flex font-size-2 font-weight-bold flex-wrap"
                                        >
                                       <span class="mr-3">
                                                <span
                                                    class="text-grey">{{ 'Next payment date' | t }}: </span>{{ regular_donation.next_payment_date.value | date('U') |format_date('omedia_short') }}
                                            </span>
                                        </div>
                                    </div>
                                    <!-- End left size -->
                                    <!-- Start right side -->
                                    <div
                                        class="ml-lg-auto mt-3 mt-lg-0 w-100 w-sm-auto"
                                    >
                                        {% if regular_donation.status.value == 'ACTIVE' %}
                                            <button
                                                data-id="{{ regular_donation.id.value }}"
                                                user-id="{{ current_user_id }}"
                                                class="pauseDonation btn btn-outline-light-silver mr-sm-1 text-grey text-uppercase px-2 d-block d-sm-inline-block mx-0 w-100 w-sm-auto mt-1 mt-sm-0"
                                            >
                                                {{ 'Pause' |t }}
                                            </button>
                                        {% else %}
                                            <button
                                                data-id="{{ regular_donation.id.value }}"
                                                user-id="{{ current_user_id }}"
                                                class="resumeDonation btn btn-success mr-sm-1 text-uppercase px-2 d-block d-sm-inline-block mx-0 w-100 w-sm-auto mt-1 mt-sm-0">
                                                {{ 'Resume' |t }}
                                            </button>
                                        {% endif %}
                                        <a
                                            href="/user/donations/regular/{{current_user_id}}/{{regular_donation.id.value}}"
                                            class="btn btn-outline-light-silver text-grey text-uppercase px- d-block d-sm-inline-block w-100 w-sm-auto mt-2 mt-sm-0"
                                        >
                                            {{ 'Edit' |t }}
                                        </a>
                                    </div>
                                    <!-- End right side -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End card -->
            {% endfor %}
        </div>
        <!-- End payments list -->
    </div>
</div>
<div
    class="modal fade"
    id="addPayment"
    tabindex="-1"
    role="dialog"
    aria-labelledby="addPaymentTitle"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content overflow-hidden">
            <div class="modal-header align-items-center px-3 px-md-4">
                <h5
                    class="modal-title font-size-3 text-uppercase font-weight-bold"
                    id="addPaymentTitle"
                >
                    {{ 'Add new payment' |t }}
                </h5>
                <button
                    type="button"
                    class="close ml-2"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <i
                        aria-hidden="true"
                        class="icon-close font-size-3 text-dark-silver"
                    ></i>
                </button>
            </div>
            <div class="modal-body pt-0  pl-3 pr-3 pb-3 pl-md-5 pr-md-5 pb-md-5">
                <form method="POST">
                    {{ regular_donation_form.form_build_id }}
                    {{ regular_donation_form.form_token }}
                    {{ regular_donation_form.form_id }}
                    {{ regular_donation_form.card_id }}
                    <p class="d-flex flex-wrap flex-sm-nowrap align-items-center justify-content-center justify-content-md-between my-2 my-sm-4">
                        <img src="/{{ directory }}/dist/css/images/tbc-logo-ka-ge.svg" alt=""
                             class="mt-2 mt-sm-0 mr-3 mr-sm-0" height="17">
                        <img src="/{{ directory }}/dist/css/images/bog-geo-horizontal.png" alt=""
                             class="mt-2 mt-sm-0 mr-3 mr-sm-0" height="17">
                        <img src="/{{ directory }}/dist/css/images/liberty-geo.svg" alt=""
                             class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                             height="12">
                        <img src="/{{ directory }}/dist/css/images/visa.png" alt="" class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                             height="12">
                        <img src="/{{ directory }}/dist/css/images/mc.svg" alt="" class="mt-2 mt-sm-0 mr-3 mr-sm-0"
                             height="17">
                    </p>
                    <hr class="border-dashed border-secondary"/>
                    <div class="d-flex flex-wrap flex-sm-nowrap">
                        <div
                            class="form-group form-group w-100 w-md-50 pr-sm-2"
                        >
                            <label class="form-label" for="amount">{{ 'Amount'|t }}</label>
                            {{ regular_donation_form.amount }}
                        </div>
                        <div class="form-group w-100 w-md-50">
                            <label class="form-label">{{ 'You will get'|t }}</label>
                            <div
                                class="text-success font-size-5 d-flex pl-3 pt-2"
                            >
                                <i class="icon-ged"></i>
                                <span class="ml-1" id="ged-place-2">0</span>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex flex-wrap flex-sm-nowrap">
                        <div class="form-group w-100 w-md-50 pr-sm-2">
                            <label class="form-label" for="period"
                            >{{ 'Periodicity'|t }}</label
                            >
                            <div class="form-control form-control-lg">
                                {{ regular_donation_form.frequency }}
                            </div>
                        </div>
                        <div class="form-group w-100 w-md-50  pl-sm-2">
                            <label class="form-label" id="date"
                            >{{ 'Donation date'|t }}</label
                            >
                            <div class="form-control form-control-lg">
                                {{ regular_donation_form.date }}
                            </div>
                        </div>
                    </div>
                    <div class="form-group width-control">
                        <label class="form-label" for="description">
                            {{ 'Aim or politician'|t }}
                        </label>
                        <select
                            id="selected-option-tbc-multiple"
                            source-type="tbc-multiple"
                            class="select w-100"
                            data-live-search="true"
                            data-style="btn-white border btn-lg bg-hover-white rounded-oval"
                            title="რას აფინანსებ"
                            data-none-results-text="არაფერი მოიძებნა"
                        >
                            {% for aim_or_politician in aim_or_politicians %}
                                <option
                                    value="{{ aim_or_politician.data_type }}:{{ aim_or_politician.id }}"
                                    data-content='
                                                                <div class="d-flex align-items-center p-1 ">
                                                                  <span
                                                                    class="rounded-circle overflow-hidden d-inline-block"
                                                                  >
                                                                    <img
                                                                      {% if aim_or_politician.data_type == 1 %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/girchiLogo34x34.png" }}"
                                                                      {% else %}
                                                                      src="{{ aim_or_politician.img is defined and aim_or_politician.img is not null ? image_style_url(aim_or_politician.img, 'avatar_xs') : theme_path() ~ "/images/avatar34x34.png" }}"
                                                                      {% endif %}
                                                                      width="35"
                                                                      class="rounded pl-politician-avatar"
                                                                      alt="..."
                                                                    />

                                                                  </span>
                                                                  <h6
                                                                    class="text-uppercase line-height-1-2 font-size-3 font-size-xl-3 mb-0 mx-2"
                                                                  >
                                                                    {% if aim_or_politician.data_type == '2' %}
                                                                    <span class="text-decoration-none d-inline-block text-success">
                                                                          <span class="pl-politician-first-name">{{aim_or_politician.first_name}}</span>
                                                                          <span class="font-weight-bold pl-politician-last-name">{{aim_or_politician.last_name}}</span>
                                                                          <span class="font-weight-bold d-none">{{ aim_or_politician.first_name }} {{ aim_or_politician.last_name }}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                      {{ 'Politician' |t}}
                                                                    </span>
                                                                    {% else  %}
                                                                    <span class="text-decoration-none d-inline-block text-warning  text-hover-success">
                                                                          <span class="pl-politician-first-name">{{ 'გირჩი ზოგადად' |t}}</span>
                                                                    </span>
                                                                    <span class="d-flex font-size-1 text-grey pl-politician-position">
                                                                        {{aim_or_politician.aim}}
                                                                    </span>
                                                                    {% endif %}
                                                                  </h6>
                                                                </div>
                                                                '
                                ></option>
                            {% endfor %}
                        </select>
                    </div>
                    {{ regular_donation_form.donation_aim }}
                    {{ regular_donation_form.politicians }}

                    {{ regular_donation_form.currency }}

                    <hr class="border-dashed border-secondary"/>
                    <h6 class="text-uppercase pt-2 text-warning font-weight-bold my-3 text-center">
                        {{'Select card for regular payment'|t}}</h6>
                    <div class="cc-selector row">
                        <div
                            class="align-self-center margin-control"
                        >

                            {% for card in cards %}
                                {% if card.Type() == 'VISA' %}
                                    <input
                                        id="{{ card.id() }}"
                                        type="radio"
                                        name="credit-card"
                                        value="{{ card.id() }}"
                                    />
                                    <label
                                        class="drinkcard-cc"
                                        for="{{ card.id() }}"
                                    >
                                        <div
                                            class="cc-dark-mobile col-md-3 m-2"
                                        >
                                                <span
                                                class="chip-mobile"></span>
                                            <img
                                                src="/{{ directory }}/images/visa2.svg"
                                                class="logo-visa-mobile"
                                                height="35px"
                                                width="35px"
                                                alt=""
                                            />
                                            <span
                                                class="cc-number-mobile"
                                            >**** **** **** {{ card.Digits() }}</span
                                            >
                                            <span class="cc-name-mobile"
                                            >{{ card.Expiry(TRUE) }}</span
                                            >
                                        </div>
                                    </label>
                                {% elseif card.Type() == 'MC' %}
                                    <input
                                        id="{{ card.id() }}"
                                        type="radio"
                                        name="credit-card"
                                        value="{{ card.id() }}"
                                    />
                                    <label class="drinkcard-cc"
                                           for="{{ card.id() }}">
                                        <div
                                            class="cc-green-mobile col-md-3 m-2"
                                        >
                                                <span
                                                    class="chip-mobile"></span>
                                            <img
                                                src="/{{ directory }}/images/mc_symbol.svg"
                                                height="35px"
                                                width="35px"
                                                class="logo-mastercard-mobile"
                                                alt=""
                                            />
                                            <span
                                                class="cc-number-mobile"
                                            >**** **** **** {{ card.Digits() }}</span
                                            >
                                            <span class="cc-name-mobile"
                                            >{{ card.Expiry(TRUE) }}</span
                                            >
                                        </div>
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>

                    {{ regular_donation_form.submit }}
                </form>
            </div>
        </div>
    </div>
</div>

{{ attach_library('girchi/donation') }}
{{ attach_library('girchi_banking/girchi_banking') }}
