<ul class="list-group list-group-flush mt-2">
    {% if topReferrals %}
        {% for key, user in topReferrals  | slice(0, 5) %}
            <li
                class=" {{ loop.first ? 'first-ref' : ''  }} list-group-item d-flex align-items-center px-0"
            >
                                <span
                                    class="font-size-6 font-size-xl-7 text-dark-silver mr-2 mr-xl-3"
                                >{{ key + 1 }}</span
                                >
                <div class="d-flex w-100 align-items-center">
                    <a
                        href="{{ path('entity.user.canonical', {'user' : user.uid}) }}"
                        class="rounded-circle overflow-hidden d-inline-block"
                    >
                        <img
                            src= "{{ user.img ? image_style_url(user.img, 'partner_image') : theme_path() ~ "/images/avatar50x50.png"  }}"
                            class="rounded"
                            alt="..."
                        />

                    </a>
                    <h6
                        class="text-uppercase line-height-1-2 font-size-3 font-size-xl-base mb-0 mx-2 mx-xl-3"
                    >
                        <a
                            href="{{ path('entity.user.canonical', {'user' : user.uid}) }}"
                            class="text-decoration-none d-inline-block text-hover-success"
                        >
                            {{ user.uid ?  user.user_name : 'Anonymous'|t  }}
                            <span class="d-block font-weight-bold"
                            >{{ user.uid ? user.user_surname : 'User'|t }}</span
                            >
                        </a>
                    </h6>
                    <span
                        class="text-success font-size-4 font-size-xl-4 font-weight-bold ml-auto"
                    >{{ user.referral_benefits }} ₾</span
                    >
                </div>
            </li>

        {% endfor %}
        <a
            href="#"
            class="ml-auto card-view-all font-weight-normal text-grey text-decoration-none text-nowrap top-block-arrow"
            data-toggle="modal"
            data-target="#topReferralsFullList"
        >{{ 'Full list'|t }}
            <i class="icon-arrow-right2 text-dark-silver"></i>
        </a>
    {% endif %}
</ul>

{#Top referrals modal#}

<div
    class="modal fade"
    id="topReferralsFullList"
    tabindex="-1"
    role="dialog"
    aria-labelledby="fullListTitle"
    aria-hidden="true"
>
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content overflow-hidden">
            <div class="modal-header align-items-center px-3 px-md-4">
                <h5
                    class="modal-title font-size-3 text-uppercase font-weight-bold"
                    id="supportersTitle"
                >
                    {{ 'Top referrals' | t }}
                </h5>
                <button
                    type="button"
                    class="close ml-2"
                    data-dismiss="modal"
                    aria-label="Close"
                >
                    <i
                        aria-hidden="true"
                        class="icon-close font-size-3 text-dark-silver"
                    ></i>
                </button>
            </div>
            <div class="modal-body p-0">
                <table class="table m-0 table-hover">
                    <thead>
                    <tr class="bg-dark-white">
                        <th
                            scope="col"
                            class="align-middle w-auto w-md-80-px text-center text-dark-silver font-size-2 border-0"
                        >
                            #
                        </th>
                        <th
                            scope="col"
                            class="align-middle font-size-1 font-size-md-2 text-dark-silver border-0"
                        >
                            {{ "Name" |t }}
                        </th>

                        <th
                            scope="col"
                            class="align-middle font-size-1 font-size-md-2 text-dark-silver border-0 text-center line-height-1-2"
                        >
                            {{ 'Referrals' |t }}
                        </th>
                        <th
                            scope="col"
                            class="align-middle font-size-1 font-size-md-2 text-dark-silver border-0 text-center line-height-1-2"
                        >
                            {{ "Referral benefits" |t  }}
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in topReferrals %}
                        <tr>
                            <th scope="row" class="pl-3 w-auto w-md-80-px text-center align-middle">
                                <span class="font-size-4 font-size-xl-5 text-dark-silver font-weight-normal">{{ loop.index }}</span>
                            </th>
                            <td class="align-middle">
                                <div class="d-flex w-100 align-items-center">
                                    <a
                                        href="{{ path('entity.user.canonical', {'user' : user.uid}) }}"
                                        class="rounded-circle overflow-hidden d-none d-md-block">
                                        <img
                                            src= "{{ user.img ? image_style_url(user.img, 'partner_image') : theme_path() ~ "/images/avatar50x50.png"  }}"
                                            class="rounded"
                                            alt="..."
                                        />
                                    </a>
                                    <h6 class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-base mb-0 mx-0 mx-md-3">
                                        <a href="{{ path('entity.user.canonical', {'user' : user.uid}) }}" class="d-inline-block text-hover-success">
                              <span class="text-decoration-none d-inline-block">
                                <span>{{ user.uid ?  user.user_name : 'Anonymous'|t  }}</span>
                                <span class="font-weight-bold">{{ user.uid ? user.user_surname : 'User'|t }}</span>
                              </span>
                                        </a>
                                    </h6>
                                </div>
                            </td>
                            <td class="text-right text-md-center align-middle">
                                {% if user.referral_count <= 4  %}
                                    <ul
                                        class="list-unstyled m-0 align-items-center d-none d-md-flex"
                                    >
                                        {% for referral in user.referrals %}

                                                <li class="d-inline-flex align-items-center">
                                                    <a
                                                        title="{{ referral.referral_name ~ ' ' ~ referral.referral_surname}}"
                                                        href="{{ path('entity.user.canonical', {'user' : referral.referral_id}) }}"
                                                        class="rounded-circle overflow-hidden d-inline-block m-1 politician-modal"
                                                    >
                                                        <img
                                                            src="{{ referral.referral_img ? image_style_url(referral.referral_img, 'avatar_xs') : theme_path() ~ '/images/avatar.png' }}"
                                                            class="rounded"
                                                            width="34"
                                                            alt="..."
                                                        />
                                                    </a>
                                                </li>

                                        {% endfor %}
                                    </ul>
                                {% else %}
                                    <ul
                                        class="list-unstyled m-0 align-items-center d-none d-md-flex"
                                    >
                                        {% for i in 0..3 %}
                                            <li class="d-inline-flex align-items-center">
                                                <a
                                                    title="{{ user.referrals[i]['referral_name'] ~ ' ' ~user.referrals[i]['referral_surname'] }}"
                                                    href="{{ path('entity.user.canonical', {'user' : user.referrals[i]['referral_id']}) }}"
                                                    class="rounded-circle overflow-hidden d-inline-block m-1 politician-modal"
                                                >
                                                    <img
                                                        src="{{ user.referrals[i]['referral_img'] ? image_style_url(user.referrals[i]['referral_img'],  'avatar_xs') : theme_path() ~ '/images/avatar.png' }}"
                                                        class="rounded"
                                                        width="34"
                                                        alt="..."
                                                    />
                                                </a>
                                            </li>
                                        {% endfor %}
                                        <li>
                                            <a
                                                href="{{ path('entity.user.canonical', {'user' : user.uid, 'show_referral_modal' : 'true'}) }}"
                                                class="btn btn-light btn-sm m-1 px-2 bg-hover-success text-hover-white politician-modal"
                                            >
                                                {{ user.referral_count - 4 }} +
                                            </a>
                                        </li>
                                    </ul>
                                {% endif %}
                            </td>

                            <td class="text-right text-md-center align-middle font-weight-bold">
                                 <span
                                     class="text-success font-size-4 font-size-xl-4 font-weight-bold ml-auto"
                                 >{{ user.referral_benefits }} ₾</span
                                 >
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
