{% for referral in referrals %}
<tr>
    <th scope="row" class="pl-3 w-auto text-center align-middle">
                    <span
                        class="font-size-4 font-size-xl-5 text-dark-silver font-weight-normal"
                    >{{loop.index}}</span
                    >
    </th>
    <td class="align-middle">
        <div class="d-flex w-100 align-items-center">
            <a
                href="{{ path('entity.user.canonical', {'user' : referral.id}) }}"
                class="rounded-circle overflow-hidden d-none d-md-block"
            >
                <img
                    src="{{referral.img_url}}"
                    class="rounded w-40-px"
                    alt="..."
                />
            </a>
            <h6
                class="w-100 w-sm-auto text-uppercase line-height-1-2 font-size-3 font-size-md-3 font-size-xl-base mb-0 mx-0 mx-md-3"
            >
                <a href="{{ path('entity.user.canonical', {'user' : referral.id}) }}" class="d-inline-block text-hover-success">
                          <span class="text-decoration-none d-inline-block">
                            <span>{{referral.name}}</span>
                          </span>
                </a>
            </h6>
        </div>
    </td>

</tr>
{% endfor %}
